In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from scipy import stats

In [6]:
datos1 = pd.read_csv(r'/home/alejandro/Documents/Octavo/Intermedio/RayosX/Datos1.csv')
datos2 = pd.read_csv(r'/home/alejandro/Documents/Octavo/Intermedio/RayosX/Datos2.csv')
datos3 = pd.read_csv(r'/home/alejandro/Documents/Octavo/Intermedio/RayosX/Datos3.csv')
datos4 = pd.read_csv(r'/home/alejandro/Documents/Octavo/Intermedio/RayosX/Datos4.csv')

In [7]:
datos2.head()

,ALUMINIO,Sin placa,Grosor = 0.2 mm,Grosor = 0.4 mm,Grosor = 0.6 mm,Grosor = 0.8 mm,Grosor = 1.0 mm,Grosor = 1.2 mm,Grosor = 1.4 mm,Grosor = 1.6 mm,...,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53
0,Ángulo (rad),Intensidad (arb),Intensidad (arb),Intensidad (arb),Intensidad (arb),Intensidad (arb),Intensidad (arb),Intensidad (arb),Intensidad (arb),Intensidad (arb),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.10471976,0.06922478,0.06699126,0.06482979,0.06273807,0.06071383,0.05875491,0.05685919,0.05502463,0.05324927,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.12217305,0.10912966,0.10360231,0.09835492,0.09337331,0.08864401,0.08415424,0.07989188,0.07584541,0.07200389,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.13962634,0.12697894,0.11752038,0.10876637,0.10066445,0.09316603,0.08622616,0.07980324,0.07385876,0.06835708,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.15707963,0.13081584,0.11719721,0.10499636,0.09406568,0.08427294,0.07549968,0.06763976,0.0605981,0.05428952,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN